mixin reviewForm( storeId, existingReview = {} )
  if user
    //- Test if the exisingReview is an empty object
    - const existingReviewPresent = ! ( h.isEmpty( existingReview ) )
    form.reviewer(action=`/api/reviews/${storeId}` method="POST")
      .reviewer__edit( class=`${existingReviewPresent ? '' : 'hidden'}`)
        .reviewer__edit__text
          | Looks like you had already left a review for this store. Would you like to edit it ❓
        button.button.reviewer__edit__button(type="button") Edit my Review ✍
      .reviewer__form( class=`${existingReviewPresent ? 'hidden' : ''}`)
        //- TODO: Should have label here
        textarea(name="text" placeholder="Did you try this place? Have something to say? Leave a Review...")
          = existingReview.text
        .reviewer__meta
          .reviewer__stars
            each starValue in [5,4,3,2,1]
              input(type="radio" name='rating' id=`star${starValue}` value=starValue checked=(starValue === existingReview.rating) required )
              label(for=`star${starValue}`) #{starValue} Stars
            //-  Default rating, invisible
            input(type="radio" name='rating' value="0" checked=(existingReview.rating ? false : true) required )
          input.button(type="submit" value="Submit Review →")
        .reviewer__errors.hide
      