extends layout

block content
  //- Example template 
  .wrapper
    - const upDog = 'Rowdy'
    p.hello Hello my name is #{name} and also #{dog.toUpperCase()} oh and #{upDog}
    span#yo Today will end in #{h.moment().endOf('day').fromNow()}
    img(src="images/photos/1.jpg" alt=`First photo, with example local interpolation: ${dog}`)
  h2 
    //-  Use a pipe to indicate text that belongs in the current tag with no extra wrapping div
    | It is now #{h.moment().format('MMMM Do YYYY, h:mm:ss a')}
    em How are you?